@using CollegeEvents;
@{
    ViewBag.Title = "ViewList";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var accounts = ViewBag.AccountsList as List<Account>;
    if (accounts == null)
    {
        throw new ArgumentNullException("AccountsList was not set for the view!");
    }
}

<h2>ViewAll</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Access</th>
    </tr>
    @foreach (var acc in accounts)
    {
        <tr>
            <td>@acc.Name</td>
            <td>@acc.Email</td>
            <td>@acc.GrantedAccess.ToString()</td>
        </tr>
    }
</table>
