@{
    ViewBag.ControllerName = "Home";
    ViewBag.Title = "Home - Index";
}

<p>
    Welcome to the College Events Website.
    Created by Blake Scherschel for UCF class COP 4710 of spring 2017.
</p>
